.cabecalho__menu-hamburguer {
    width: 32px;
    height: 32px;
    margin-left: .5em; 
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--fundo-cabecalho);
   position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem { 
    padding: .8em;
}

.container__botao {
    display: none;
}

.correcao { 
    margin-right: .5em;
}

.tamanho {
    width: 30px;
    height: 30px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__itens {
    background-color: var(--fundo-cabecalho);
    padding: 1em;
    width: 60vw;
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--degrade-azul);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
